.login {
  height: 100%;
  width: 100%;
  position: fixed;

  .login-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
      max-width: 330px;
      width: 100%;
      padding: 30px;
      border: 1px solid #e1e1e1;
      border-radius: 4px;
      background: #fff;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: 768px){
        margin: 0 10px;
      }

      .form-wrapper {
        width: 100%;
        margin: 0;
        display: grid;

        .chat-icon {
          font-size: 50px;
          margin: auto;
          margin-bottom: 8px;
        }

        & h3 {
          font-size: 20px;
          margin-bottom: 30px;
          text-align: center;
        }

        .input-field {
          display: grid;
          margin-bottom: 10px;

          & input[type="text"], input[type="text"]{
            height: 34px;
            border: 1px solid #e1e1e1;
            padding: 0 10px;
            font-size: 16px;
            outline: none;
            border-radius: 4px;
            margin-top: 5px;
          }

          .isError {
            color: #c70202;
          }
        }

        & button[type="submit"] {
          height: 40px;
          border: none;
          padding: 0 12px;
          font-size: 16px;
          outline: none;
          border-radius: 4px;
          margin: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #530b8f;
          color: #fff;
        }
      }
    }
  }
}